<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
	
<body onload="Client.populateCountrySelector();">
	<div id="app">
	<form name="home">
		<label for="country">Country</label>
		<select id="countrySelect" name="country"><!--Will be autopopulated --></select>
		<label for="postalcode">PostalCode / Place</label>
		<input id="postalcodeInput" name="postalcode" onblur="Client.postalCodeLookup();" size="10" type="text">
		<div>
			<input id="placeInput" name="place" size="30" onblur="Client.closeSuggestBox();" type="text">
			<div style="visibility: hidden;" id="suggestBoxElement"><!--Will auto populate --></div>
		</div>
		<label for="lat">Latitude:</label>
		<input id="latitude" name="lat" size="12" type="text">
		<label for="long">Longitude:</label>
		<input id="longitude" name="long" size="12" type="text">
	</form>
		<div id="countdown">
		<label for="date">Traveldate: </label>
			<input type="date" id="traveldate" placeholder="yyyy-mm-dd" onblur="Client.startCounter();">
			<!--placeholder to show in browsers that do not support the date-picker -->
			<div id="counter"></div> 
		</div>
	</div>
		</body>
	<footer>
	<div>with thanks to <a href="http://www.geonames.org">GeoNames</a></div>
	</footer>
</html>