<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Travel App</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
	
<body>
	<div id="app">
		<form name="home" autocomplete="off" action="/action_page.php"> <!-- auto complete set on the div itself -->
			<div class="autocomplete">
				<input id="myInput" type="text" name="myCountry" placeholder="Country">
			</div>
			<div id="code-city">
				<input id="postalcodeInput" name="postalcode" onblur="Client.postalCodeLookup();" type="text" placeholder="postal code">
				<div id="city">
					<input id="placeInput" name="place" onblur="Client.closeCityBox();" type="text" placeholder="place" readonly>
					<div style="visibility: hidden;" id="cityBoxElement"><!--Will auto populate --></div>
				</div>
			</div>
			<!--<input id="latitude" name="lat" size="12" type="text" placeholder="Latitude" readonly>
			<input id="longitude" name="long" size="12" type="text" placeholder="Longitude" readonly>-->
		</form>
		<div id="countdown">
			<label for="date">Traveldate: </label>
			<input type="date" id="traveldate" placeholder="yyyy-mm-dd" onblur="Client.startCounter();">
			<!--placeholder to show in browsers that do not support the date-picker -->
			<div id="counter"></div> 
		</div>
		<div id="weather">
			<input type="submit" name="" value="get Weather" onclick="return Client.getWeather(event)" onsubmit="return getWeather(event)">
			<div id="weather-header"> </div>
			<div id="weather-info">
			</div>
		</div>
		<div id="pix">
			<input type="submit" name="" value="get Pix" onclick="return Client.getPix(event)" onsubmit="return getPix(event)">
			<div id="pix-image"></div>
		</div>
	</div>
</body>
	<footer>
	<div>With thanks to <a href="http://www.geonames.org">GeoNames</a>, <a href="https://www.weatherbit.io">WeatherBit</a> and <a href="https://pixabay.com">Pixabay</a></div>
	</footer>
</html>